<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Montez' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
     <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  	<script src="http://brm.io/js/libs/matchHeight/jquery.matchHeight-min.js"></script>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Corradr</title>

    <style>
        a {
            color: #000;
        }
       	.form-group {
        	/*margin-top: 8px;
        	margin-bottom: 8px;*/
    	    width: 100%;
        	display: inline-flex;
        }
        form {
        	/*text-align: center;*/
        }
        #shop-button {
        	margin-left: 10px;
        }
        .sort-container {
        	padding-left: 18px;
        }
        .sort-criteria-container {
        	padding-left: 14px;
        }
        .searchResults {
    		background-color: #F4F4F4;
        	font-family: "Futura";
		}
        .navbar-default {
        	background-color: #373737;
        }
		#refineAndResults {
			color: white;
		}
		#titleIcon
		{
			font-family: 'Satisfy', cursive;
			font-size: 35px;
			color: #C0B283;
		}
		#refineCol
		{
			position: fixed;
			border: none;
			background-color: white;
			color: black;
			border-radius: 3px;
		}
		@media (max-width: 768px) 
		{
		    #refineCol
		    {
		        display: none;
		    }
		    #tweets
		    {
		    	display: none;
		    }
		}
		@media (min-width: 768px) 
		{
			#searchBar
		    {
		        display: none;
		    }
		}
		#textRefineCol
		{
			margin-left: 8px;
			margin-right: 8px;
		}
		html{
		    max-width: 100%;
		    overflow-x: hidden;
		}
		body
		{
			margin-top: 70px;
			max-width: 100%;
		    overflow-x: hidden;
		}
		.thumbnailAndCaption
		{
			background-color: #DCD0C0;
			//border-style: ridge;
			//border-width: 3px; 
			//border-color: #e6e6e6; 
			//border-radius: 3px;
			margin-bottom: 30px;
			}
			#bs-example-navbar-collapse-1
			{
			font-family: "Courier New";
			}
		#tweets
		{
		    position: fixed;
		    right: 250px;
		    height: 100%;
		    margin-right: -250px;
		    margin-top: -20px;
		    overflow-y: auto;
		    //background-color: white;
		}
		#sidebar-nav 
		{
		    position: absolute;
		    top: 0;
		    width: 100%;
		    margin: 0;
		    padding: 0;
		    list-style: none;
		}
    </style>
    
    <script type="text/javascript">
        (function() {
            $(function() {
                $('.thumbnailAndCaption').matchHeight({
                    byRow: true,
                    property: 'height',
                    target: null,
                    remove: false
                });
            });
        })();
    </script>
    <script>
	    function getQueryVariable(variable)
	    {
	           var query = window.location.search.substring(1);
	           var vars = query.split("&");
	           for (var i=0;i<vars.length;i++) {
	                   var pair = vars[i].split("=");
	                   if(pair[0] == variable){return pair[1];}
	           }
	           return(false);
	    }
    </script>
</head>
<body class="searchResults">
	<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand navbar-brand-centered" style="margin-left: 10px;" href="main.html" data-toggle = "collapse" id="titleIcon" data-target = "#nav-header-logo-collapse">Corradr</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class = "nav navbar-nav collapse navbar-collapse" id="nav-header-search-collapse">
                <form class="nav navbar-form" role="search">
                    <div class="input-group" >
                    		<span style="width: 12%;" class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                        	<input type="text" class="form-control" placeholder="Search" name="keyword">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                     </div>
                 </form>
            </div>
            <div class="collapse navbar-collapse nav navbar-nav navbar-right" id="bs-example-navbar-collapse-1" style="margin-right: 10px;">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="advanced" style="color:white">Advanced Search</a>
                    </li>
                    <li>
                        <a href="categories" style="color:white">Categories</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
           </div>
    	<!-- /.container -->
    </nav>
    	<div class="row">
    		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="refineAndResults">
		       <!-- 	<div id="twitter" class="col-lg-12" style="height: 100px; overflow:auto; direction:RTL;">
       				{{#tweetHtmlSnippets}}
       					{{{.}}}
       				{{/tweetHtmlSnippets}}
    			</div>-->
	    	    <div class="col-xs-0 col-sm-4  col-md-3 col-lg-2">
	        		<div id="refineCol">
	        			<div id="textRefineCol">
		        			<b style="font-size: 16px;">
			        			Refine your search:
					        	</b>
					        	<br>
					        	<br>
					        	<b>
					        	Sort by:
					        	</b>
					        	<div class="checkbox">
					        		<label><input id="Name" type="checkbox" value="name" {{#name}} checked {{/name}}>Name</label>
				        		</div>
				        		<div class="checkbox">
				        		
					        		<label><input id="Seller" type="checkbox" value="seller" {{#seller}} checked {{/seller}}>Seller</label>
				        		</div>
				        		<div class="checkbox">
					        		<label><input id="Rating" type="checkbox" value="rating" {{#rating}} checked {{/rating}}>Rating</label>
					        	</div>
					        	<div class="checkbox">
					        		<label><input id="PriceLH" type="checkbox" value="priceLH" {{#priceLH}} checked {{/priceLH}}>Price (Low to High)</label>
					        	</div>
					        	<div class="checkbox">
					        		<label><input id="PriceHL" type="checkbox" value="priceHL" {{#priceHL}} checked {{/priceHL}}>Price (High to Low)</label>
					        	</div>
					        	
					        	<!-- Handle redirection upon checkbox check/uncheck -->
					        	<script type="text/javascript">
					        		$(document).ready(function(){
					        			$('input[type="checkbox"]').click(function(){
					        	            if($(this).prop("checked") == true){
					        	            	window.location.replace("http://localhost:8080/searchResults?" + getNewUrl($(this).val(), true));
					        	            }
					        	            else if($(this).prop("checked") == false){
					        	            	window.location.replace("http://localhost:8080/searchResults?" + getNewUrl($(this).val(), false));
					        	            }
					        	        });
					        			
					        			var getNewUrl = function getNewUrl(param, isChecked) {
					        			    var url = decodeURIComponent(window.location.search.substring(1)),
					        			        urlVariables = url.split('&'),
					        			        parameterName,
					        			        joinParam,
					        			        i,
					        			        parameterFound = false;

					        			    for (i = 0; i < urlVariables.length; i++) {
					        			        parameterName = urlVariables[i].split('=');

					        			        if (parameterName[0] === param) {
					        			        	parameterFound = true;
					        			        	if (isChecked == true)
					        			        		parameterName[1] = true;
					        			        	else if (isChecked == false)
					        			        		parameterName[1] = false;
					        			        	else
					        			        		parameterName[1] = false;
					        			        }
					        			        joinParam = parameterName.join("=");
					        			        urlVariables[i] = joinParam;
					        			    }
					        			    if (!parameterFound) {
					        			    	parameterName[0] = param;
					        			    	if (isChecked == true)
				        			        		parameterName[1] = true;
				        			        	else if (isChecked == false)
				        			        		parameterName[1] = false;
				        			        	else
				        			        		parameterName[1] = false;
					        			    	joinParam = parameterName.join("=");
					        			        urlVariables[i] = joinParam; 
					        			    }
					        			    return (urlVariables.join("&"));
					        			};
					        		});
					        				
					        	</script>
					        	
					        	<br>
        				</div>
	        		</div>
		        </div>
		        <div class="col-xs-12 col-sm-5 col-md-6 col-lg-7">
			       <form  id="searchBar" role="form" action="/searchResults" method="GET">
		               <div class="form-group">
		                 <input type="text" name="keyword" class="form-control">
		                 <span id="shop-button"><button type="submit" value="Search" class="btn btn-default" >Shop</button></span>
		               </div>
		           </form>
		           		{{#searchResults}}
			       		<div class='col-xs-12 col-sm-6 col-md-4 col-lg-4'>
		           			<div class="thumbnailAndCaption">
	       						<div class='thumbnail'>
	       							<!-- Link/Card Body -->
	       							<a href='http://localhost:8080/item?productId={{id}}&keyword={{keyword}}'>
	       								<img src='{{images.3}}' alt='Card image cap' style="width: 100%">
	       							</a>
	       						</div>
       							<div class='caption' style="background-color: #DCD0C0; color: white;">
       								<a href='http://localhost:8080/item?productId={{id}}&keyword={{keyword}}' style='color: white; display:block; text-align:center; overflow: hidden; -webkit-line-clamp: 1; display: -webkit-box; -webkit-box-orient: vertical;'> {{title}} </a>
       								<p style='text-align:center;'> {{priceStr}} </p>
       								<p style='text-align:center;'> {{merchantName}} </p>
       							</div>
	       					</div>
	       				</div>
	              		{{/searchResults}}
	              		
		           		<script>	
		           		/*
		           			var text = "";
		           			var i = 0;
		              		document.write("{{#searchResults}}");
	   							if(i != 0 && window.innerWidth <= 750)
		              			{
		              				text += "</div>\n";
		              			}
	   							else if(i != 0 && i%2 == 0 && 750 <= window.innerWidth && window.innerWidth <= 969)
		              			{
		              				text +=	"</div>\n";
		              			}
	   							else if(i != 0 && i%4 == 0 && 970 <= window.innerWidth)
		              			{
		              				text += "</div>\n";
		              			}
		              			if(i%4 == 0 && 970 <= window.innerWidth)
		              			{
		              				text += "<div id='4rows' class='row'>\n";
		              			}
		              			else if(i%2 == 0 && 750 <= window.innerWidth && window.innerWidth <= 969)
		              			{
		              				text +=	"<div id='2rows' class='row'>\n";
		              			}
		              			else if(window.innerWidth < 750)
		              			{
		              				text += "<div id='1rows' class='row'>\n";
		              			}
		              				text += "<div class='col-xs-12 col-sm-6 col-md-3 col-lg-3'>\n";
		              					text += "<div class='card'>\n";
	              							text += "<!-- Link/Card Body -->\n";
	              							text += "<a href='http://localhost:8080/item?productId={{id}}'>\n";
	              								text += "<img class='card-img-top img-rounded' src='{{images.3}}' alt='Card image cap' style='width:100%; height:66%;'>\n";
           									text += "</a>\n";
       										text += "<div class='card-block'>\n";
   												text += "<!--  <a href='http://localhost:8080/item?productId={{id}}' class='card-link' style='display:block; text-align:center;'> {{title}} </a>--> <p>{{title}}</p>\n";
												text += "<p class='card-text' style='text-align:center; color:black;'> {{priceStr}} </p>\n";
												text += "<!-- <a href='http://localhost:8080/item?productId={{id}}' class='card-link' style='display:block; text-align:center;'> {{merchantName}} </a> --> <p> {{merchantName}}</p>\n";
		       								text += "</div>\n";
		       							text +="</div>\n";
	       							text += "</div>\n";
       							i++;
		              		document.write("{{/searchResults}}");
		              		text += "</div>\n";
		              		document.write(text);*/
              			</script>
	          	</div>
   		       	<div class='col-xs-0 col-sm-3 col-md-3 col-lg-3' id="tweets" >
		       		<div id="sidebar-nav">
		       			{{#tweetHtmlSnippets}}
		       				{{{.}}}
		       			{{/tweetHtmlSnippets}}
		       		</div>
	       		</div>
	       	</div>
       	</div>
	</body>
</html>
